body {
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}

h1 {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

* {
  text-align: center;
}

#resources {
  padding: 25px;
}

#list {
  padding: 25px;
}

.dropdown-toggle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
}

.dropdown-menu li a:hover {
  background-color: white;
  padding: 15px;
  text-decoration: underline grey;
}

.dropdown-menu li a {
  font-family: 'Merriweather', serif;
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
}

.clock {
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

.weather {
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

#todoStyle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
}

#reminderStyle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
}

#todoList {
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

#reminderList {
  font-family: 'Merriweather', serif;
  font-size: 15px;
}
